doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone.js')
    script(src='javascripts/model.js')
      
